// default style start//
div.container{
    max-width: 1320px;
    padding:30px;
    background-color: white; 
}
//default style end //

// IMPORTANT NOTE: PLEASE ADD YOUR STYLE INSIDE YOUR COMMENT BOX.

// syed bhai styles part start//

// syed bhai styles part end//

// chaitali mam styles part start//

// chaitali mam  styles part end//

// rajat bhai styles part start//

// rajat bhai styles part end //

// sunny styles part start//

// sunny styles part end//

// akash bhai styles part start//

// akash bhai styles part end//

// vishal bhai styles part start//

// vishal bhai styles part end//
